body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-list {
  padding: 20px;
  margin-bottom: 20px;
}
.movie-list ul{
  padding: 0;
  list-style-type: none;
}
.movie-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}